/* Narrow Jumbotron Styles */

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
  padding-left:10px;
  display:inline-block;
  color:#666;
}
.header h3 a {
  color:inherit;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container.small {
    max-width: 730px;
  }
  .container {
    max-width: 980px;
  }
  .container.wider {
    max-width:980px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 0 0 40px;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 0;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


/* Custom Styles */

/* Canvas */
.loading {
	text-align:center;
}

.Collage .Image_Wrapper {
	opacity:0;
}

.Image_Wrapper img {
	pointer-events:none;
}

/* Nav and Footer */

.container {

}

.nav-pills {
	margin:0;
	float:right;
}

.footer p {
	font-size:12px;
	display:inline;
}

.footer .copyright {
	margin:0;
  	font-size:12px;
}

.nav-pills li a {
	color:#56b8df;
  -webkit-transition:all 0.3s ease;
  -moz-transition:all 0.3s ease;
  -o-transition:all 0.3s ease;
  transition:all 0.3s ease;
}

.nav-pills li.active a {
	background:#56b8df;
}

.nav-pills li a:hover {
	background:#389BC2;
	color:#fff;
}

.nav-pills li.active a:hover {
	background:#389BC2;
	color:#fff;
}

.copyright {
	float:right;
}

/* Work */

.jumbotron {
	background:none;
	padding-top:24px;
	padding-bottom:24px;
  margin-bottom:12px;
  font-size:18px;
}

.avatar {
	max-width:125px;
	margin:0px auto 24px;
}

.jumbotron h1 {
	border-bottom:none;
	margin:0;
}
.jumbotron h2{
  margin:12px 0 24px;
  font-size:1.8em;
}

.jumbotron span {
  line-height:1.4em;
}

.marketing .img-responsive{
	width:100%;
}

.marketing .col-sm-6 {
	padding:0;
}

.marketing img {
  pointer-events:none;
}

/* Writing */
.writing .story {
}

.writing {
  position: relative;
}

.writing .loading-div {
  position:absolute;
  width:100%;
  top:200px;
  color:#999;
  text-align:center;
  z-index: -1;
}

.story.medium {
  min-height:297px;
  margin-bottom:6px;
}

.subscribe {
  text-align:center;
  display:block;
  padding:24px;
  background:#389BC2;
  color:#fff;
}

.subscribe:hover {
  color:#fff;
}

.subscribe:active {
  background:#00638A;
}

.jumbotron h3 {
  line-height:1.6em;
}

.story .location {
	font-style:italic;
	color:#666;
}

.story .date {
	color:#666;
	text-align: right;
}

.story a {
	color:inherit;
	width:100%;
	display:block;
	padding:24px;
	transition:0.3s all ease;
	-webkit-transition:0.3s all ease;
	-moz-transition:0.3s all ease;
	-o-transition:0.3s all ease;
}

.story a:hover {
	background:#eee;
	text-decoration: none;
}

.story a:hover h2 {
	text-decoration: underline;
}

.story h2 {
	margin:0;
}

.story p {
	margin-top: 0;
}

/* About */
.container.about {

}

.align-center {
  text-align: center;
}

p.align-center {
  text-align:center;
  padding-top:12px;
  color:#999;
}

.about .row {
	padding:15px;
}

.about h1 {
	text-align: center;
}

.about .col-sm-7 h3 {
	margin:0 0 6px;
}

.padding-top img {
  margin-top:24px;
}

/* Contact */

.contact {
  margin: 0 0 48px;
}

.contact h2 {
	text-align: center;
}

.contact a {
  color:#fff;
  display:inline-block;
  width:50%;
  float:left;
  text-align:center;
  padding:32px 0;
  -webkit-transition: all 0.25s ease;
}

.square {
  padding:0;
}

.square .twitter {
  background:#55ACEE;
}

.square .instagram {
  background:#517fa4;
}

.square .tumblr {
  background:#2c4762;
}

.square .dribbble {
    background:#ea4c89;
}

.square .mixcloud {
  background:#574d4d;
}

.square .soundcloud {
  background:#f50;
}

.square .soundcloud:hover {
  color:#f50;
  background:#fff;
}

.square .twitter:hover {
  color:#55ACEE;
  background:#fff;
}

.square .instagram:hover {
  color:#517fa4;
  background:#fff;
}

.square .tumblr:hover {
  color:#2c4762;
  background:#fff;
}

.square .dribbble:hover {
    color:#ea4c89;
    background:#fff;
}

.square .mixcloud:hover {
  color:#574d4d;
  background:#fff;
}

/* Square color social styles here */


/* Mobile hax FTW!! */
@media (max-width: 768px) {
  .nav-pills {
  	float:none!important;
  	margin: 0px auto;
    display: inline-block;
    text-align: center;
  }
  .nav li a {
  	padding:10px 6px;
  }
  .header {
    text-align:center;
    padding-right:0!important;
    padding-left:0!important;
  }

  .header h3 {
  	display:block;
  }
  .story .date {
  	text-align: left!important;
  }
  .footer .copyright {
  	float:none;
  	display:block;
  }
  .jumbotron {
    margin-bottom:0;
  }
}

.container.case-study {
  max-width:1100px;
  position:relative;
}


.case-info {
  margin:48px 0;
  padding:12px 24px;
  background:rgba(255,255,255,0.8);

}

.case-info p{
  margin-bottom:24px;
  text-align: justify;
}
.case-study img {
  margin: 0 auto 20px;
  display:block;
}
.case-study iframe {
  margin:0 auto 48px;
  display:block;
}

.img-cover {
  position:absolute;
  max-width:100%;
  z-index: -1;
  pointer-events:none;
}
@media (max-width: 768px) {
  .img-cover {
    display:none!important;
  }
  .case-info {
    box-shadow:none;
  } 
  .case-info {
    margin:6px 0;
  }
}

.shadow {
  border-radius:8px;
  box-shadow:0 2px 5px rgba(50,50,50,0.35);
}

.prize {
  margin:24px auto;
  border-radius:4px;
  display:block;
}

.centertext {
  text-align: center;
}

.centerimg {
  display:block;
  margin:0 auto;
}

.crossfader-page {
  background:#000;
  color:#fff!important;
}

.crossfader-page .case-info {
  background:none;
}

.onboarding-gifs {
  background:#000;
  padding:24px;
}

.onboarding-gifs img {
  position:relative;
}

.case-study-footer {
  margin-top:32px;
}

.case-study-button {
  width:50%;
  float:left;
  text-align:center;
  font-size:20px;
  font-style: italic;
  font-weight: bolder;
  position:relative;
  overflow:hidden;
  background:#333333;
  height:150px;
  transition:all 0.3s ease-in-out;
}

.work .case-study-button {
  width:100%;
  height:250px;
  background:#333;
}

.case-study-button:hover {
  background:#56b8df;
}

.case-study-button .btn-bg {
  position:absolute;
  background-size:cover;
  width:100%;
  height:auto;
  left:0;
  transition:all 0.3s ease-in-out;
  opacity:0.2;
}
.case-study-button:hover .btn-bg {
 -webkit-transform: scale3d(1.5,1.5,1);
  transform: scale3d(1.5,1.5,1);
  opacity:8;
}

.case-study-button .first {
  position:absolute;
  width:100%;
  padding:62px 0;
  text-align:center;
  top:0;
  transition:all 0.3s ease-in-out;
  color:#333;
  z-index: 10000;
  top:0px;
  color:#fff;
}

.case-study-button:hover .first {
  top:300px;
  color:#fff;
}

.case-study-button .second {
  position:absolute;
  width:100%;
  padding:62px 0;
  text-align:center;
  top:-300px;
  transition:all 0.3s ease-in-out;
  color:#333;
  text-indent:0;
  z-index: 10000;
  font-size:28px;
}

.case-study-button:hover .second {
  top:0px;
  color:#fff;
  display:inline-block;
  text-shadow:0 1px 8px #333;
}

.case-study-button.next {

}

.case-study-button.next:hover {

}


/* Hover FX */
/* Common style */
.study .group {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px auto;
  display:block;
  max-width:100%;
  width:100%;
  background: #3085a3;
  text-align: center;
  cursor: pointer;
}

.study .group img {
  position: relative;
  display: block;
  max-height: 100%;
  max-width: 100%;
  opacity: 0.8;
}

img {
  max-width:100%;
}

.study .group .caption {
  padding: 2em;
  color: #fff;
}

.caption h2 {
  font-size:36px;
  text-align: left;
  position:absolute;
  font-style: normal;
  letter-spacing: 0;
  opacity:0;
  transition:all 0.3s ease!important;
}

.caption p {
  font-size:20px;
  width:450px;
  text-align:left;
}

.study .group .caption::before,
.study .group .caption::after {
  pointer-events: none;
}

.study .group .caption,
.study .group .caption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.study .group .caption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;

}

.study .group h2,
.study .group p {
  margin: 0;
}

.study .group p {
  letter-spacing: 1px;
}

/* Duke FX */
.group.effect-duke {
  background: -webkit-linear-gradient(-45deg, #34495e 0%,#56b8df 100%);
  background: linear-gradient(-45deg, #34495e 0%,#56b8df 100%);
}

.group.effect-duke img,
.group.effect-duke p {
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}

.group.effect-duke:hover img {
  opacity: 0.1;
  -webkit-transform: scale3d(1.2,1.2,1);
  transform: scale3d(1.2,1.2,1);
}

.group.effect-duke h2 {
  -webkit-transform: scale3d(0.8,0.8,1);
  transform: scale3d(0.8,0.8,1);
  -webkit-transform-origin: 50% -100%;
  transform-origin: 50% -100%;
  top:60px;
}

.group.effect-duke p {
  position: absolute;
  top: 100px;
  left: 0;
  margin: 20px;
  padding: 30px;
  border: 2px solid #fff;
  text-transform: none;
  opacity: 0;
  -webkit-transform: scale3d(0.8,0.8,1);
  transform: scale3d(0.8,0.8,1);
  -webkit-transform-origin: 50% -100%;
  transform-origin: 50% -100%;
}

.group.effect-duke:hover h2,
.group.effect-duke:hover p {
  opacity: 1;
  -webkit-transform: scale3d(1,1,1);
  transform: scale3d(1,1,1);
}

/* Sizing hack */
.mobile-label {
  font-size:24px;
  color:#333;
  font-style: normal;
}