/* FONTS */
@font-face {
    font-family: 'FunctionProBold';
    src: url('../fonts/FunctionPro-Bold-webfont.eot');
    src: url('../fonts/FunctionPro-Bold-webfont.eot?iefix') format('eot'),
    url('../fonts/FunctionPro-Bold-webfont.woff') format('woff'),
    url('../fonts/FunctionPro-Bold-webfont.ttf') format('truetype'),
    url('../fonts/FunctionPro-Bold-webfont.svg#webfont') format('svg');
    font-weight: normal;
    font-style: normal; 
}

@font-face {
    font-family: 'FunctionProMedium';
    src: url('../fonts/FunctionPro-Medium-webfont.eot');
    src: url('../fonts/FunctionPro-Medium-webfont.eot?iefix') format('eot'),
    url('../fonts/FunctionPro-Medium-webfont.woff') format('woff'),
    url('../fonts/FunctionPro-Medium-webfont.ttf') format('truetype'),
    url('../fonts/FunctionPro-Medium-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal; 
}

@font-face {
    font-family: 'FunctionProBook';
    src: url('../fonts/FunctionPro-Book-webfont.eot');
    src: url('../fonts/FunctionPro-Book-webfont.eot?iefix') format('eot'),
    url('../fonts/FunctionPro-Book-webfont.woff') format('woff'),
    url('../fonts/FunctionPro-Book-webfont.ttf') format('truetype'),
    url('../fonts/FunctionPro-Book-webfont.svg#webfont') format('svg');
    font-weight: normal;
    font-style: normal; 
}

@font-face {
    font-family: 'FunctionProLight';
    src: url('../fonts/FunctionPro-Light-webfont.eot');
    src: url('../fonts/FunctionPro-Light-webfont.eot?iefix') format('eot'),
    url('../fonts/FunctionPro-Light-webfont.woff') format('woff'),
    url('../fonts/FunctionPro-Light-webfont.ttf') format('truetype'),
    url('../fonts/FunctionPro-Light-webfont.svg#webfont') format('svg');
    font-weight: normal;
    font-style: normal; 
}
