body {
	font-family: 'FunctionProLight', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
}

body.body-padding-bottom {
	padding-bottom:120px;
}

/* Custom CSS */

/* Navbar */

.logo {
	text-indent: -9999px;
	background-image: url(../img/crossfader-logo-text.png);
	height:26px;
	width:189px;
	background-size:100% 100%;
	background-repeat: no-repeat;
	display:inline-block;
	position:relative;
	top:2px;
	left:12px;
	vertical-align: middle;
	margin:0;
}

.navbar .container {
	padding:6px;
}

.navbar-collapse a {
	vertical-align: middle;	
	margin:12px;
	font-family: 'FunctionProBold', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight:bolder;
	color:#fff;
}

/* Top section - Video - Download links */
#download-wrapper {
	margin-top:64px;
	text-align: center;
}

#download-wrapper p {
}

#header {
	background: url(./img/video-placeholder.png) 50% / cover;
	width: 100%;
	overflow: hidden;
	position: relative;
	color:#fff;
	min-height:550px;
	padding-top:0;
}

.header-video {
	min-height: 100%;
	min-width: 100%;
	position: absolute;
	left:0;
	z-index: -1;
}

#header h1, #header h2 {
	font-family: 'FunctionProLight', Helvetica, arial, sans-serif;
	text-align:center;
}

#header .container {
	padding-top:140px;
}

#download-text-number {
	width:270px;
}

/* Radio */
#home-radio {
	padding:0;
}

.radio-info-banner {
	background:#222;
	padding:10px;
	margin:0;

}

.caps-ghost-text {
	text-align:center;
	font-family: 'FunctionProBold';
	letter-spacing: 2px;
	color:rgba(255,255,255,0.5);
	text-transform: uppercase;
}

.radio-wrap {
	color:#fff;
}

.radio-stream {
	white-space: nowrap;
}

.radio-stream-item {
	position:relative;
	width:100px;
	height:110px;
	display:inline-block;
	margin-left:24px;
}

.radio-container {
	width:100%;
	height:120px;
	margin:0 auto;
	padding:0;
	overflow-x:scroll;
}

i.play-btn {
	position:absolute;
	top:34px;
	left:37px;
	font-size:32px;
	opacity:0;
	-webkit-transition:0.3s all ease;
	-moz-transition:0.3s all ease;
	-o-transition:0.3s all ease;
	transition:0.3s all ease;
}

.radio-artwork {
	display:inline;
	width:100px;
	height:auto;
	opacity:0.6;
}

.radio-stream-item:hover i.play-btn,.radio-stream-item:hover .radio-artwork {
	opacity:1;
}

.radio-meta {
	display:inline-block;
	vertical-align: middle;
	margin-left: 24px;
	width:350px;
	padding-top:12px;
}

/* edits for sticky radio */
.radio-title, .radio-artist {
	text-align:left!important;
	/*margin-top:0;*/
}

.radio-attribution {
	display:inline-block;
	vertical-align: middle;
}

/* Now being used in sticky radio */
.radio-attribution .user-picture {	
	width:60px;
	border-radius:50px;
	position:relative;
}

.radio-attribution .user-name {	
margin-bottom:2px;
font-size: 16px;
}

.radio-attribution img, .radio-attribution p {
	text-align:center;
}

/* How To Crossfade */

#home-howto .container {
	max-width:800px;
}

#home-howto h1, #home-howto h3 {
	text-align:center;
}

#home-howto .row {
	padding:48px 0;
	border-top:2px solid #333;
	text-align:left;
}

#home-howto h3 {
	margin-bottom:48px;
}


#home-howto img {

}

#home-howto {
	background:#000;
	color:#fff;
}

span.emphasis {
	font-family: 'FunctionProBold', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: bolder;
}

.download-crossfader {
	font-family: 'FunctionProLight', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight:300;
	padding:16px 32px;
	margin: 24px auto;
	max-width:500px;
	min-width:300px;
	display:block;
}

.download-cf-block {
	background:url(../img/blur-bg-download.jpg) 100% 100%;
	background-position: top left;
	text-align:center;
	color:#fff;
	border-top:2px solid rgba(255,255,255,0.4);
	border-bottom:2px solid rgba(255,255,255,0.4);
}


/* Crossfamous Media Gallery */

#home-crossfamous {
	background:#000;
	color:#fff;
}

#home-crossfamous .container {
	max-width:800px;
	text-align:center;
}

#home-crossfamous .mason-jar img {
	margin-top:20px;
}


.centered-text {
	text-align:center;
}

/* Radio sticky player */
.radio-player {
	width:100%;
	position:fixed;
	height:120px;
	background:rgba(220,220,220,0.95);
	bottom:-120px;
	-webkit-transition:0.2s ease;
	-moz-transition:0.2s ease;
	transition:0.2s ease;
	opacity:0;
	pointer-events:none;
	z-index: 10000;
}

.radio-player.active {
	bottom:0px;
	opacity:1;
	pointer-events:all;
}

.radio-player .radio-controls {
	font-size:24px;
	vertical-align: middle;
	border-radius:100px;
	background:rgba(50,50,50,0.1);
	border:1px solid #999;
	display:inline-block;
	margin:24px 36px;
}

.radio-player .radio-controls i {
	display:inline-block;
	padding:24px;
}

.radio-player-meta {
	display:inline-block;
	margin-left:24px;
}

.radio-player-meta {
	display:inline-block;
	vertical-align: middle;
}

.radio-title {
	display:inline-block;
	vertical-align: middle;
}

.click-back {
	font-size:24px;
	color:#999;
	margin:24px;
}

/* Custom bootstrap overrides */
.jumbotron {
	margin-bottom:0;
}
