/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background:#000;

}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);

}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  background:#000;
}
.site-wrapper-inner {
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
  min-height:140px;
}


/*
 * Header
 */

 .dj-header {
  background:url(../images/amsterdam.png);
  background-size: cover;
  background-position:center center;
 }
.party-meta {
  text-align:center;
}

.party-meta h3, .party-meta h4 {
  display:block;
  margin-top:4px;
  margin-bottom: 2px;
  margin-left:6px;
}

.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-brand img {
  border-radius:50%;
  height:160px;
}

@media (min-width: 992px) {
  .masthead-brand img {
    height:160px;
  }
}
@media (min-width: 768px) {
    .masthead-brand img {
    height:120px;
  }
    .party-pics {
  margin-top:0px;
}
}
@media (max-width: 768px) {
    .masthead-brand img {
    height:80px;
  }
}

.party-pics {

}

@media (max-width: 768px) {
  .party-pics {
    margin-top:0;
  }
}
.party-pics img {
  min-width:100%;
}
.party-pics .col-sm-4 {
  padding:0;
}

/* PLAYA */
.party-player {
  height:100px;
  background:#222;
}

.party-player .controls {
  color:#fff;
}

.controls .play {
  float:left;
  background:#444;
  color:#fff;
  border-radius:50%;
  height:80px;
  width:80px;
  position: relative;
  border:1px solid #666;
  top:10px;
}

.play i {
  position:absolute;
  top:26px;
  left:32px;
  -webkit-transition:0.3s ease;
}

.play i:hover {
  cursor:pointer;
  -webkit-transform:scale(1.2);
}

.seek-wrap {
  display:block;
  margin-left:100px;
  background:#f00;
  height:80px;
  position:relative;
  top:10px;
  text-align:left;
}

.image-viewer {
  position:fixed;
  z-index:99999;
  height:100%;
  width:100%;
    left:0;
  right:0;
  top:0;
  bottom:0;
  background:rgba(0,0,0,0.5);
  pointer-events:none;
}

.close-button {
  position:fixed;
  z-index:999999;
  height:100%;
  width:100%;
    left:0;
  right:0;
  top:0;
  bottom:0;
}

.image-viewer img {
  max-width:100%;
  margin-top: 5%;
  width: 600px;
  height:auto;
    pointer-events:none;
}

/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {

  }
}

/* Added */
.muted {
  color:rgba(255,255,255,0.75);
  font-weight: lighter;
}

